.name {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.name span {
  color: #6a6a6a;
  font-family: sans-serif;
  display: inline-block;
  transition: transform 500ms;
}

.name span:hover {
  color: #212121;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
